[submodule "OnlineCounter"]
	path = OnlineCounter
	url = https://github.com/AttackingSoul/OnlineCounter.git
[submodule "RawPixel"]
	path = RawPixel
	url = https://github.com/AttackingSoul/RawPixel.git
